<h1 class="align-center">A Little About Us...</h1>
<div fxLayout="row wrap" fxLayoutGap="20px">
  <div fxFlex>
    <mat-card>
      <img src="../../assets/logo/Circle-Bird.svg" height="180">
      <mat-card-title class="bronze">Who we are</mat-card-title>
      <mat-card-content>
        <p>
          At Loan App, we strive to help meet our customers needs by providing quality care into all loan servicing services. Founded in 1991 with a mission to approve buyers quickly and effectively. Our company is built on trust, so whichever loan servicer you are working with will guide you in taking the next steps towards owning something amazing.
          We are a small, yet mighty team! Our team consists of experienced loan servicers here to help. We take time to get to know each of our customers to build life long relationships. We provide home, auto and business loans. Once you work with us, we like to follow up and ensure all your questions are answered and we guide you in the right direction.
    </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex>
    <mat-card>
      <img src="../../assets/logo/Circle-Bird.svg" height="180">
      <mat-card-title class="bronze">What we do for fun</mat-card-title>
      <mat-card-content>
        <p>
          When we’re not approving loan applications, our team likes to have fun after work! We make sure each employee feels valued everyday, so on top of amazing benefits and work life balance, we work hard and play hard! Our team has our own softball league, and not to toot our own horn, but we never strike out! You can find us on the fields in our loan servicing lightning yellow jerseys. This is just another amazing benefit when working at Loan App.
    </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex>
    <mat-card>
      <img src="../../assets/logo/Circle-Bird.svg" height="180">
      <mat-card-title class="bronze">Our goals</mat-card-title>
      <mat-card-content>
        <p>
          Our top goal is to provide unforgettable, amazing customer service to each of our clients as we help navigate the loan servicing world. It can be a little daunting for first time loan seekers, so we make sure to take the time and explain the entire process start to finish. Whether it’s your first auto loan, your sixth home loan, or you’re finally taking a dive into opening your first business, we will work alongside you to meet your needs. Our loan servicing experts take on the hard questions and make the process easy for you! We want nothing more than to see our clients happy.
    </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
