<h1 class="align-center">Loan Application</h1>
<div fxLayout="row wrap" fxLayoutGap="20px">
    <div class="loan-form" fxFlex>
      <mat-card>
        <mat-card-title>Calculate Loan</mat-card-title>

        <mat-card-content>
          <form fxLayout="column" fxLayoutGap="16px" [formGroup]="loanForm" (ngSubmit)="onSubmit();">
            <mat-form-field fxFlex appearance="fill">
             <label for="txtLoanAmount">Loan Amount:</label> <br>
              <input type="text" name="loanAmount" required id="txtLoanAmount" formControlName="loanAmount"/>
              <span id="txtLoanAmountError"></span>
            </mat-form-field>

            <mat-form-field fxFlex appearance="fill">
              <label for="txtInterestRate">Interest Rate:</label> <br>
              <input type="text" name="interestRate" required id="txtInterestRate" formControlName="interestRate"/>
              <span id="txtLoanAmountError"></span>
            </mat-form-field>

            <mat-form-field fxFlex appearance="fill">
                <label for="txtYears">Years:</label> <br>
                <input type="text" name="years" required id="years" formControlName="years"/>
                <span id="txtLoanAmountError"></span>
              </mat-form-field>
              <mat-form-field>
                <button class="margin-right btn btn-outline-primary" type="submit">Submit</button>
                <button class="btn btn-color-primary" (click)="clearForm ">Reset</button>
              </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="results-summary" fxFlex>
      <mat-card class="mat-elevation-z8">
        <mat-card-title>Results:</mat-card-title>
        <mat-card-content>
          <app-payments [payments]="monthlyPayment"></app-payments>
            <app-accrued-interest [accruedInterest]="interest"></app-accrued-interest>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

