<h1 class="align-center">Loan Application</h1>
<div fxLayout="row wrap" fxLayoutGap="20px">
    <div class="loan-form" fxFlex>
      <mat-card>
        <mat-card-title>Calculate Loan</mat-card-title>

        <mat-card-content>
          <form fxLayout="column" fxLayoutGap="16px" >
            <mat-form-field fxFlex appearance="fill">
             <label for="txtLoanAmount">Loan Amount:</label> <br>
              <input type="text" name="txtLoanAmount" required id="txtLoanAmount" />
              <span id="txtLoanAmountError"></span>
            </mat-form-field>

            <mat-form-field fxFlex appearance="fill">
              <label for="txtInterestRate">Interest Rate:</label> <br>
              <input type="text" name="txtInterestRate" required id="txtInterestRate" />
              <span id="txtLoanAmountError"></span>
            </mat-form-field>

            <mat-form-field fxFlex appearance="fill">
                <label for="txtYears">Years:</label> <br>
                <input type="text" name="txtYears" required id="txtYears" />
                <span id="txtLoanAmountError"></span>
              </mat-form-field>
              <mat-form-field>
                <button class="margin-right btn btn-outline-primary" (click)="calculateLoan()">Submit</button>
                <button class="btn btn-color-primary" (click)="clearEntries()">Reset</button>
              </mat-form-field>


          </form>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="results-summary" fxFlex>
      <mat-card class="mat-elevation-z8">
        <mat-card-title>Results:</mat-card-title>
        <mat-card-content>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

