<h1 class="align-center">Loan Application</h1>
<div class="background-bird" fxLayout="row wrap" fxLayoutGap="20px">
    <div class="loan-form" fxFlex>
      <mat-card>
        <mat-card-title>Calculate Loan</mat-card-title>

        <mat-card-content>
          <form fxLayout="column" fxLayoutGap="16px" [formGroup]="loanForm" (ngSubmit)="onSubmit();">


            <mat-form-field fxFlex appearance="fill">
             <mat-label>Loan Amount:</mat-label> <br>
              <input type="text" name="loanAmount" required id="txtLoanAmount" matInput formControlName="loanAmount"/>
              <span id="txtLoanAmountError"></span>
            </mat-form-field>

            <mat-form-field fxFlex appearance="fill">
              <mat-label>Interest Rate:</mat-label> <br>
              <input type="text" name="interestRate" required id="txtInterestRate" matInput formControlName="interestRate"/>
              <span id="txtLoanAmountError"></span>
            </mat-form-field>

            <mat-form-field fxFlex appearance="fill">
                <mat-label>Years:</mat-label> <br>
                <input type="text" name="years" required id="years" matInput formControlName="years"/>
                <span id="txtLoanAmountError"></span>
              </mat-form-field>

              <div class="btn-group">
                <button class="margin-right btn btn-outline-primary">Submit</button>
                <button class="btn btn-color-primary" (click)="clearForm()">Reset</button>
              </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="results-summary" fxFlex>
      <mat-card class="mat-elevation-z8">
        <mat-card-title>Results:</mat-card-title>
        <br>
        <mat-card-content>
          <app-payments [payments]="monthlyPayment"></app-payments>
            <app-accrued-interest [accruedInterest]="interest"></app-accrued-interest>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

